.action-btn {
  display: flex;
  width: 16px;
  border: none;
  background: none;
  cursor: pointer;
}
.action-btn svg {
  width: 1.35rem;
  height: 1.35rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.action-btn svg path {
  fill: var(--clr-darkgreen-500);
}