.tabs-section {
  margin-top: -3rem; /* Schweben in den Hero hinein */
  z-index: 5;
  position: relative;
  margin-bottom: 3.5rem;
}

@media (max-width: 365px) {
  .tabs-section {
    margin-top: -2rem;
    margin-bottom: 1.5rem;
  }
}
